<div class="center-div">
    <mat-card class="auth-card">
        <form class="form-class">
            <mat-form-field class="input-class">
              <mat-label>Email</mat-label>
              <input matInput placeholder="exemplo@teste.com" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
          
            <mat-form-field class="input-class">
              <mat-label>Senha de acesso</mat-label>
              <input matInput type="password" placeholder="Senha.." [(ngModel)]="password" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
            <mat-checkbox class="chackbox-margin" [(ngModel)]="keepConnected" [ngModelOptions]="{standalone: true}">Mantenha-me conectado.</mat-checkbox>
          </form>
          <button
            class="button-class"
            mat-raised-button
            color="primary"
            (click)="CreateUser()"
            >
            Criar usuário
         </button>
          <button
            class="button-class"
            mat-raised-button
            color="accent"
            routerLink="/home"
            (click)="SignIn(username, password, keepConnected)"
            >
            Log in
        </button>
    </mat-card>