<div>
  <div class="demo-button-container">
    <span>
      Bem vindo de volta, 
    </span>
    <div *ngIf="(user$ | async) as userData">
      <span>
        {{ userData.name }}
      </span>
      <input type="hidden" mat-input [(ngModel)]="user" [ngModelOptions]="{standalone: true}" >
    </div>
    <button mat-raised-button (click)="AddData()" class="demo-button">
      Add data
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Símbolo</th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
      <ng-container matColumnDef="paidPrice">
        <th mat-header-cell *matHeaderCellDef> Preço Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.paidPrice}} </td>
      </ng-container>
  
      <ng-container matColumnDef="currentPrice">
        <th mat-header-cell *matHeaderCellDef> Preço Atual</th>
        <td mat-cell *matCellDef="let element"> {{element.currentPrice}} </td>
      </ng-container>
  
      <ng-container matColumnDef="gain">
        <th mat-header-cell *matHeaderCellDef>Ganho</th>
        <td mat-cell *matCellDef="let element"> {{ (((element.currentPrice - element.paidPrice)/element.paidPrice ) * 100).toFixed(2) }}% </td>
      </ng-container>
      
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <button mat-icon-button *matCellDef="let element"><mat-icon svgIcon="thumb-up" aria-hidden="false" color="primary">Excluir</mat-icon></button> 
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>